<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular login</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">login</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>