<app-navbar>
</app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>About us</h2>
      <h5>full stack development</h5>
      <div class="fakeimg">MEAN stack</div>
      <p>Human resource management</p>
      <h3 class="mt-4">Some Links</h3>
      <p>for a sample login and register pages in Angular.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>HUMAN RESOURCE MANAGEMENT</h2>
      
     
      <p>Our techs</p>
      <p>Try the AI-enabled features of Pocket HRMS today. Contact Us Now to get Exclusive Access to the Most Advanced HR System.</p>

      <h2 class="mt-5">Specific Dashboard</h2>
      <h5>for different users admin or employees</h5>
      
    </div>
  </div>

<footer>
<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>copyrights reserved @ us techs</p>
</div>
</footer>
</div>